.card__main {
  display: grid;
  justify-self: center;
  align-self: center;
  width: $mainCardsWdidth;
  height: $mainCardHeight;
  background: -webkit-gradient(linear, left top, left bottom, from(#0099ae), color-stop(40%, #00bf82), color-stop(40%, #fff), to(#fff));
  background: linear-gradient(180deg, #0099ae, #00bf82 40%, #fff 0, #fff);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  color: #212529;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  
  .front{
    display: grid;
    user-select: none;


    img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      border: 10px solid #fff;
      object-fit: cover;
      margin: 30px auto;
    }

    span {
      text-align: center;
      margin-top: -6vh;
    }
  }

  .text {
    color: #0c0c0c;
    width: $mainCardsWdidth;

    p {
      width: inherit;
      text-align: center;
      margin-top: -24px;
    }
  }
}

.cards-main--orange {
  background: -webkit-gradient(linear, left top, left bottom, from(#fd6a63), color-stop(40%, #feb46b), color-stop(40%, #fff), to(#fff));
  background: linear-gradient(180deg, #fd6a63, #feb46b 40%, #fff 0, #fff);
}