.header__menu-mobile {
    color: $hamburgerLine;
    position: absolute;
    top: 15px;
    margin-left: -5px;
}

.hamburger {
    position: absolute;
    z-index: 100;
    width: 60px;
    height: 40px;
    margin: 25px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: $colorlink;
}

.hamburger__line {
    position: absolute;
    top: calc(50% - 1.5px);
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    content: '';
    border-radius: 5px;
    background-color: $hamburgerLine;
}

.hamburger::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    content: '';
    border-radius: 5px;
    background-color: $hamburgerLine;
}

.hamburger::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    content: '';
    border-radius: 5px;
    background-color: $hamburgerLine;
}

.hamburger_rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu-mobile__wrapper {
    position: relative;
    z-index: 99;
    min-width: 220px;
    height: 100vh;
    background-color: $backgroundPrimaryDark;
    padding-right: 6.5vh;
    padding-top: 10px;
    margin-top: -15px;
}

.menu-mobile_table {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-top: 10vh;
}


.menu-mobile_item {
    display: flex;
    margin-bottom: -25px;
    letter-spacing: -0.3px;
    color: $hamburgerLine;
    font-family: $fontFamilyMain;
    font-size: 24px;
    font-weight: 700;
    line-height: 82px;
    user-select: none;
}

.hidden {
    display: none;
}


.header__menu_active {
    color: #F06C64;
  }