body {
    background-color: #2D303A;
    margin: 0px 0px 0px 5px;
}

.header {
    position: relative;
    top: -8vh;
}

main {
    min-height: 100vh;
    max-width: 99vw;
}

.container {
    background-color: #d42744;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(46vh, 1fr));
    grid-gap: 0.5vh;
    justify-content: space-around;
    align-content: space-evenly;
    padding-top: 5vh;
}

.wrapper {
    margin-top: 10vh;
}
