// fonts
$fontFamilyMain: 'Roboto';

//index
$containerGrid: 304px;

// Colors
$colorlink: #e87313;
$hamburgerLine: #e87313;
$colorBorderCard: #13cfe8;
$colorPlay: #feb46b;

// Cards
$mainCardsWdidth: 318px;
$mainCardHeight: 250px;
// $mainCardsMaxWdidth: 240px;
// $mainCardMaxHeight: 240px;
$mainCardTextHeight: 40px;
$ColorTextBgCardMain: #d3e813;