// fonts
$fontFamilyMain: 'Roboto';

//index
$containerGrid: 304px;

// Colors
$colorlink: #feb46b;
$hamburgerLine: #feb46b;
$colorBorderCard: #13cfe8;
$colorPlay: #feb46b;
$backgroundPrimary: #f48fb1;
$backgroundSecondary: #f8bbd0;
$backgroundPrimaryLight: #ffc1e3;
$backgroundPrimaryDark: #bf5f82;
$backgroundSecondaryLight: #ffeeff;
$backgroundSecondaryDark: #c48b9f;


// Cards
$mainCardsWdidth: 318px;
$mainCardHeight: 250px;
// $mainCardsMaxWdidth: 240px;
// $mainCardMaxHeight: 240px;
$mainCardTextHeight: 40px;