body {
    background-color: #2D303A;
}

.header {
    display: none;
}

main {
    min-height: 100vh;
    max-width: 99vw;
}

.container {
    background-color: rgb(212, 39, 68);
    margin: 5% 5%;
    padding: 3% 2% 0% 7.5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-inline-start: auto;
    margin-inline-end: auto;    
}
