// fonts
$fontFamilyMain: 'Roboto';

// Colors
$colorlink: #e87313;
$hamburgerLine: #e87313;

// Cards
$mainCardsWdidth: 45vh;
$mainCardHeight: 40vh;
$mainCardTextHeight: 40px;
$ColorTextBgCardMain: #d3e813;